<?xml version="1.0"?>

<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <arg name="parent_link" default="laser" />
  <param name="robot_description" command="$(find xacro)/xacro  parent:=$(arg parent_link) $(find robair_description)/urdf/robair.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />

  <!-- Gazebo (There is no gazebo model for robair now!)-->
  <!-- <include file="$(find gazebo_mimic)/launch/gazebo.launch"/> -->

  <!-- RViz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find follow_me)/config/rviz_config.rviz"/>

</launch>