<?xml version="1.0"?>

<robot name="wheel_support" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheel_support" params="prefix *origin">

    <link name="${prefix}_wheel_support">
        <inertial>
            <mass value="2.637" />
            <origin xyz="0 0 0" />
            <inertia  ixx="0.02467" ixy="0" ixz="0" iyy="0.04411" iyz="0" izz="0.02467" />
        </inertial>
        <visual>
            <xacro:insert_block name="origin"/>
            <geometry>
                <mesh filename="package://robair_description/meshes/small_wheel_support.stl" scale="0.001 0.001 0.001"/>
            </geometry>
                <material name="blue">
                <color rgba="0 1.0 1.0 0.5"/>
            </material>
            </visual>
        <collision>
            <xacro:insert_block name="origin"/>
            <geometry>
                <mesh filename="package://robair_description/meshes/small_wheel_support.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

  </xacro:macro>

</robot>