<?xml version="1.0"?>
<launch>

  <arg name="simulation" 			    default="true"/>
  <arg name="robot_namespace" 		default=""/>
  <arg name="enable_ekf" 			    default="true"/>
  <arg name="robot_description"  	default="robot_description"/>
  <arg name="description_file"    default="$(find robair_description)/urdf/robair.urdf.xacro"/>

  <!-- Load robot description for gazebo -->
  <include file="$(find robair_description)/launch/load.launch">
    <arg name="parent" value="laser" />
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find robair_control)/config/control.yaml" />
  <rosparam command="load" file="$(find robair_control)/config/robair_controllers.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="robair_joint_publisher robair_velocity_controller"/>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find robair_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="robair_velocity_controller/cmd_vel"/>
  </node>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find robair_control)/config/localization.yaml" />
    </node>
  </group>

</launch>
